.languages__list {
  display: flex;
  gap: var(--space-md);
  margin-top: var(--space-xl);
  flex-wrap: wrap;
}

.languages__item {
  display: flex;
  align-items: center;
  gap: var(--space-md);
  padding: var(--space-lg) var(--space-xl);
}

.languages__icon {
  color: var(--accent-primary);
}

.languages__name {
  font-size: var(--fs-lg);
  font-weight: var(--fw-medium);
}
